{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "node": {
      "plugins": [
        ["babel-plugin-transform-require-ignore", {"extensions": [".less"]}],
        ["module-resolver", {
          "root": ["./lib/"],
          "alias": {
            "app": "./lib"
          }
        }]
      ]
    }
  }
}
